<% unless plays.length == 0 %>
  <h3>Fastest <%= difficulty %> Times</h3>

  <% if win_percentage.present? %>
    <p><span class="fw-bold">Win Percentage:</span> <%= win_percentage %>%</p>
  <% end %>

  <table class="table mt-2 mb-5">
    <thead>
      <tr>
        <% if show_user %>
          <th class="px-4">Username</th>
        <% end %>  
        <th class="px-4">Time</th>
        <th class="px-4">Difficulty</th>
        <th class="px-4 text-nowrap">Achieved At</th>
      </tr>
    </thead>
    <tbody>
      <% plays.map do |play| %>
        <tr>
          <% if show_user %>
            <td class="px-4"><%= User.find(play.user_id).username %></td>
          <% end %>  
          <td class="px-4"><%= play.time_in_seconds %>s</td>
          <td class="px-4"><%= play.difficulty.capitalize %></td>
          <td class="px-4 text-nowrap"><%= convert_time(play.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>