<%= form_with model: model, url: path, class: "w-25 mt-4 mb-5" do |form| %>
  <% if type == "Sign Up" %>
    <%= render partial: "shared/forms/form_input", locals: { form: form, label: :username, type: "text", placeholder: "Enter a name here ..." } %>
  <% end %>  
  <%= render partial: "shared/forms/form_input", locals: { form: form, label: :email, type: "email", placeholder: "Enter an email here ..." } %>
  <%= render partial: "shared/forms/form_input", locals: { form: form, label: :password, type: "password", placeholder: "Enter a password here ..." } %>
  <% if type == "Sign Up" %>
    <%= render partial: "shared/forms/form_input", locals: { form: form, label: :password_confirmation, type: "password", placeholder: "Enter password again ..." } %>
  <% end %>  

  <div class="d-flex justify-content-center mt-5">
    <%= form.submit type, class: "w-50 btn btn-dark" %>
  </div>
<% end %>

<%= render partial: "shared/home_link" %>