<%= form_with model: model, url: path, class: "mt-4 mb-5" do |form| %>
  <p class="error-message text-left text-danger fw-bold">
    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>
  </p>

  <% if type == "Sign Up" %>
    <%= render partial: "shared/forms/form_input", locals: { form: form, label: :username, type: "text", placeholder: "Enter a name here ...", required: true, minlength: 8, maxlength: 20 } %>
  <% end %>  
  <%= render partial: "shared/forms/form_input", locals: { form: form, label: :email, type: "email", placeholder: "Enter an email here ...", required: true, minlength: 8, maxlength: 100 } %>
  <%= render partial: "shared/forms/form_input", locals: { form: form, label: :password, type: "password", placeholder: "Enter a password here ...", required: true, minlength: 6, maxlength: 20 } %>
  <% if type == "Sign Up" %>
    <%= render partial: "shared/forms/form_input", locals: { form: form, label: :password_confirmation, type: "password", placeholder: "Enter password again ...", required: true, minlength: 6, maxlength: 20 } %>
  <% end %>

  <div class="d-flex justify-content-center mt-5">
    <%= form.submit type, class: "btn btn-dark" %>
  </div>
<% end %>

<%= render partial: "shared/home_link" %>