<h2>Scoreboard</h2>

<p>The top scoring plays are the successful plays with the shortest times.</p>

<h3>Easy Top Scores</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Time (in seconds)</th>
      <th>Difficulty</th>
      <th>Achieved At</th>
    </tr>
  </thead>  
  <tbody>
    <% @plays.map do |play| %>
      <% if play.is_win && play.difficulty == "Easy" %>
        <tr>
          <td><%= User.find(play.user_id).username %></td>
          <td><%= play.time_in_seconds %></td>
          <td><%= play.difficulty %></td>
          <td><%= play.created_at.strftime("%-l:%M:%S%P %d/%m/%Y") %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<h3>Medium Top Scores</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Time (in seconds)</th>
      <th>Difficulty</th>
      <th>Achieved At</th>
    </tr>
  </thead>  
  <tbody>
    <% @plays.map do |play| %>
      <% if play.is_win && play.difficulty == "Medium" %>
        <tr>
          <td><%= User.find(play.user_id).username %></td>
          <td><%= play.time_in_seconds %></td>
          <td><%= play.difficulty %></td>
          <td><%= play.created_at.strftime("%-l:%M:%S%P %d/%m/%Y") %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<h3>Hard Top Scores</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Time (in seconds)</th>
      <th>Difficulty</th>
      <th>Achieved At</th>
    </tr>
  </thead>  
  <tbody>
    <% @plays.map do |play| %>
      <% if play.is_win && play.difficulty == "Hard" %>
        <tr>
          <td><%= User.find(play.user_id).username %></td>
          <td><%= play.time_in_seconds %></td>
          <td><%= play.difficulty %></td>
          <td><%= play.created_at.strftime("%-l:%M:%S%P %d/%m/%Y") %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Back to the Game', root_path, class: "btn btn-dark" %>
</p>  