<%= form_with model: model, url: path do |form| %>
  <% if type == "Sign Up" %>
    <%= render partial: "shared/form_input", locals: { form: form, label: :username, type: "text", placeholder: "Enter a name here ..." } %>
  <% end %>  
  <%= render partial: "shared/form_input", locals: { form: form, label: :email, type: "email", placeholder: "Enter an email here ..." } %>
  <%= render partial: "shared/form_input", locals: { form: form, label: :password, type: "password", placeholder: "Enter a password here ..." } %>
  <% if type == "Sign Up" %>
    <%= render partial: "shared/form_input", locals: { form: form, label: :password_confirmation, type: "password", placeholder: "Enter password again ..." } %>
  <% end %>  

  <div class="mb-3">
    <%= form.submit type, class: "btn btn-primary" %>
  </div>
<% end %>

<%= render partial: "shared/home_link" %>