<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
    <ul class="navbar-nav mx-3">
      <li class="nav-item d-flex align-items-center">
        <h1 class="navbar-brand my-0">BombSweeper</h1>
      </li>  
      <li class="nav-item">
        <%= link_to 'The Game', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Scoreboard', plays_path, class: "nav-link" %>
      </li>
    </ul>  
    <ul class="navbar-nav mx-3">
      <% if @current_user.present? %>
        <li class="nav-item">
          <%= link_to 'View Profile', user_path(30), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Out', log_out_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% else %>  
        <li class="nav-item">
          <%= link_to 'Sign Up', sign_up_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', log_in_path, class: "nav-link" %>
        </li>
      <% end %>  
    </ul>
  </nav>
</header>