<h2>Instructions</h2>

<section class="text-center">
  <div class="d-flex flex-column mb-4">
    <p>Add paragraphs explaining how to play the game once the game has been made</p>

    <p>Add paragraphs explaining how to play the game once the game has been made</p>

    <p>Add paragraphs explaining how to play the game once the game has been made</p>

    <p>Enjoy the game!</p>
  </div>  

  <h3>Difficulty Settings</h3>

  <ul class="d-flex justify-content-around mt-4 mb-5 list-unstyled">
    <li class="<%= @difficulty == 'easy' ? 'selected' : '' %>"><%= link_to 'Easy Board', game_path('easy'), class: "btn btn-dark px-4 border-0" %></li>
    <li class="<%= @difficulty == 'medium' ? 'selected' : '' %>"><%= link_to 'Medium Board', game_path('medium'), class: "btn btn-dark px-4 border-0" %></li>
    <li class="<%= @difficulty == 'hard' ? 'selected' : '' %>"><%= link_to 'Hard Board', game_path('hard'), class: "btn btn-dark px-4 border-0" %></li>
  </ul>

  <h3 class="mb-4"><%= @difficulty.capitalize %> Board</h3>
</section>
