<h2>Instructions</h2>

<section class="text-center">
  <div class="d-flex flex-column mb-4">
    <p>Bombsweeper works just like Minesweeper only with bombs instead of mines and the option to save and track scores :)</p>

    <p>Left click on a square to reveal it. Revealing the first square starts the timer (unless it's a bomb!)</p> 
    
    <p>If you reveal a square with a bomb, you lose. If the revealed square is safe it will show the number of (horizontally, vertically and diagonally) adjecent squares with bombs</p> 
    
    <p>If no surrounding squares have bombs, the revealed square will appear blank and the surrounding safe squares will automatically be revealed (triggering a cascade of square reveals)</p>

    <p>You can right click an unrevealed square to mark it with a flag if you suspect it has a bomb. Right clicking a flagged square removes the flag
    
    <p>The flag counter below the board intially specifies the number of bombs on the board and decreases as you add flags to the board. You can place as many flags as you like. A negative counter just means you've placed more flags than there are bombs</p>

    <p>Once all the safe squares have been revealed, you win the game. The timer will stop and a "Submit Time" button will appear. If you're logged in, you can click the button to save your time. It will then appear on your profile (and on the scoreboard if it's good enough)</p>

    <p>You can reset the board and the timer at any time by clicking the "Reset" button</p>

    <p>Enjoy the game!</p>
  </div>  

  <h3>Difficulty Settings</h3>

  <ul class="d-flex justify-content-around mt-4 mb-5 list-unstyled">
    <li class="<%= @difficulty == "easy" ? "selected" : "" %>"><%= link_to "Easy Board", game_path("easy"), class: "btn btn-dark px-4 border-0" %></li>
    <li class="<%= @difficulty == "medium" ? "selected" : "" %>"><%= link_to "Medium Board", game_path("medium"), class: "btn btn-dark px-4 border-0" %></li>
    <li class="<%= @difficulty == "hard" ? "selected" : "" %>"><%= link_to "Hard Board", game_path("hard"), class: "btn btn-dark px-4 border-0" %></li>
  </ul>

  <h3 class="mb-4"><%= @difficulty.capitalize %> Board</h3>
</section>
