<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between p-0">
    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center">
        <h1 class="navbar-brand mx-3 my-0">BombSweeper</h1>
      </li>  
      <%= render partial: "shared/navbar/navbar_link", locals: { text: "The Game", path: root_path } %>
      <%= render partial: "shared/navbar/navbar_link", locals: { text: "Scoreboard", path: plays_path } %>
    </ul>
    <ul class="navbar-nav">
      <% if @current_user.present? %>
        <%= render partial: "shared/navbar/navbar_link", locals: { text: "View Profile", path: user_path(@current_user.id)} %>
        <li class="nav-item d-flex align-items-center">
          <%= link_to 'Log Out', log_out_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% else %>  
        <%= render partial: "shared/navbar/navbar_link", locals: { text: "Sign Up", path: sign_up_path } %>
        <%= render partial: "shared/navbar/navbar_link", locals: { text: "Log In", path: log_in_path } %>
      <% end %>  
    </ul>
  </nav>
</header>